*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.heade{
   min-height: 100vh; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("background.jpg");
    background-position: center;
    background-size: cover;
    
    position: relative;
}
body , html{
    overflow-x: hidden;
}

    nav{
        display: flex;
        justify-content: space-between;
        padding: 2px 6px;
        align-items: center;
    }
    nav img{
        width: 120px;
        margin: 20px 20px;
    
    }
   
    .items{
      
        text-align: right;
        width: 90%;
        margin-top: 20px;
        /* flex: 1; */
        padding: 20px 50px;
    
    
    }
    .items  li{
        list-style: none;
        padding: 8px 12px;
        display: inline-block;
        position: relative;
    }
    .items  li a{
        text-decoration: none;
        font-size: 1.3rem;;
        color: white;
    
    }
    
    .heade h1{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: white;
        margin-top: 70px;
        
    }
    
.items li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
transition: 0.5s;

}
.items li:hover::after{
    width: 100%;
   

}
.head{
    width: 90%;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}
.head h1{
    font-size: 40px;

}
.service{
   
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 70px;

}
.service h1{
    font-size: 30px;
    font-weight: 600;

}
p{
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: gray;
}
.row{
    margin-top: 5%;
    justify-content: space-evenly;
    display: flex;
}
.service-col{
    flex-basis: 31%;
    background-color: rgb(247, 243, 243);
    margin-bottom: 5%;
    padding:  20px 12px ;
    box-sizing: border-box;
    border-radius: 18px;
    transition: 0.5s;
}
.service-col h3{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.service-col .servicel{
    text-decoration: none;
    color:rgb(241, 62, 62);
}
.service-col:hover:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px){
    .row{
        flex-direction: column;
    }

} 
.service-col img{
    width: 100%;
    height: 200px;
    opacity: 3;
}
.help {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.help h1{
    padding-top: 100px;
    font-size: 30px;
    font-weight: 600;

}
  

.help-col{
    flex-basis: 31%;
    background-color: rgb(247, 243, 243);
    margin-bottom: 5%;
    padding:  30px 12px ;
    box-sizing: border-box;
    border-radius: 18px;
    transition: 0.5s;
   
}
.help-col .btn:hover{
    color: black;
    background-color: rgb(190, 185, 185);

}
.help-col img{
    height: 250px;
    position: relative;
    animation: helps 5s ease-in-out 2s infinite forwards al;
}

@keyframes helps{
    from{
        width: 200px;
    }
    to{
        width: 400px;
    }
}
.help-col h3{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    margin: 10px 0px;
}
.help .help-col .imgbox{
    position: relative;
    overflow: hidden;
}
.help-col img{
    max-width: 100%;
    
    transition: transform 2s;

}
.help-col img:hover{
    transform: scale(1.1);
}

.btn{
    text-decoration: none;
background-color: rgba(66, 193, 242, 0.88);
color: black;
margin: 10px 10px;
padding: 8px 30px;
}

.specialized{
    /* height: 110vh; */
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)), url("banner2.jpg");
    background-position: center;
    background-size:cover ;
    

}
.specialized-col{
    display: flex;
    flex-basis: 40%;
    margin-bottom: 5%;
    padding:  20px 12px ;
    box-sizing: border-box;
    border-radius: 18px;
    text-align: center;
    color: white;
    justify-content: space-between;
    flex-direction: column;

}
.specialized h1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 60px;

    transform: translate('uppercase');
    color: rgba(66, 193, 242, 0.88);
}
.specialized-col h3{
    font-size: 20px;
    transform: translate('uppercase');
    color: rgba(66, 193, 242, 0.88);
    margin: 5px 0;
    justify-content: left;
}
.specialized-col p{
    text-align:justify;
}
 /* .fa {
    color: rgb(19, 18, 18);
} */

.help-col .fa-university{
    color: black;
}

/* /////////footer//// */
.container{
    max-width: 1170px;
 
    margin: auto;
    
}
.footer-col ul {
    list-style: none;
}
.footer{
    background-color: black;
    color: blue;
    padding: 60px 0;
    
    box-sizing: border-box;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(66, 193, 242, 0.88);
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 10px;
}
.footer-col .social a{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: thistle;
    color: rgba(36, 122, 156, 0.88);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    transition: all .5s ease;
}
.footer-col .social a:hover{
    color: black;
    background-color: rgba(66, 193, 242, 0.88);

}
@media(max-width:700px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

.consultant-col{
    width: 80%;
    height: 500px;
    margin-bottom: 5%;
    padding:  20px 12px ;
    box-sizing: border-box;
    border-radius: 18px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("consultant.jpg");
    text-align: center;
    color: rgba(252, 252, 252,0.9);
    justify-content: space-between;
     
}

.consultant-col h2{
    font-size: 45px;
    font-weight: 700;
    padding-top: 10px;
    margin: 40px 10px;
}
.consultant-col .btn{
    padding: 12px 55px;
}
.consultant-col .btn:hover{

    color:black;
    background-color: rgb(177, 176, 176);
}

/* .consultant-col img{
    width: 31%;
    height: 60vh;
} */
/* .animate_animate .animate_breakInDown{


} */
/* mediaquery for menu */
nav .fas{
    display: none;
}
@media(max-width:700px){

    nav img{
        width: 80px;
    }
    html , body{
        overflow-x: hidden;
    }
    nav .fas{
        color: white;
        cursor: pointer;
        display: block;
        font-size: 22px;
        margin: 10px;
    }
     .menu ul li {
         display: block;
         text-align: left;
         
     }
     .menu .items li a{
        color: black;
     }
    
    
    nav .fa-times{
        color: black;
    }
    .menu{
        position: absolute;
        background:  rgb(166, 165, 226);
        
        height: 100vh;
        width: 200px;
        top: 0px;
        text-align: left;
        z-index: 2;
        right: -200px;
        transition: 1.2s;
       
    }
    .heade{
        width: 100%;
        height: 80vh;
    }
        
    .heade h1{
        margin-top: -50px;
        font-size: 28px;
        font-weight: 500;
}

.specialized-col{
    width: 90%;
    margin: auto;
}
}
/* .specialized-col:hover{
    color: black;
    background-color:rgba(66, 193, 242, 0.88) ;
}
.specialized-col h3 p :hover{
    color: black;
    background-color:rgba(66, 193, 242, 0.88) ;
    
} */

/* media//////////////////////////////////////////// */
.specialized-col .fas{

    font-size: 50px;
    color:rgba(66, 193, 242, 0.88) ;
    margin-bottom: 10px;
}

.blogs{

    width: 100%;
    height: 120vh;
    background-color: rgb(247, 243, 243);
    box-sizing: border-box;
}
.blogs .row{
    width: 80%;
    margin: auto;
}
.blogs .row .heading-section{
    width: 60%;
    margin: auto;
    text-align: center;
}
.blogs .row .heading-section h1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;

}
.blogs .row .heading-section p{
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.5;
}
.content-section{

    display: flex;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
   
    
}
.content-section .card{
    flex: 1;
    margin: 30px 20px;

    
}
.content-section .card img{
    width: 100%;
    height: auto;
   
    
}
.content-section .card img:hover{
    box-shadow: 10px 16px 4px -4px rgba(0,0,0,0.5);
}
.content-section .card h4{
    margin-top: 20px;
    font-size: 20px;

}
.content-section .card p{
    text-align: left;
}

.content-section .card a{
    text-decoration: none;
    color: red;

}
.content-section .card a:hover{
    color: rgb(243, 45, 45);
}





















